body {
	text-align: center;
}

header {
	background-color: #820;
}

nav {
	background-color: #610;
}

nav ul {
	display: inline;
}

nav li {
	text-decoration: none;
}

#wrapper {
	background-color: #EE9;
}

main {
	text-align: left;
}

footer {
	background-color: #820;
}