body {
	text-align: center;
	vertical-align: top;
	display: block;
}

header {
	background-color: #820;
}

header h1 {
	font-weight: bold;
	font-size: 48px;
}

nav {
	background-color: #610;
}

nav ul {
	list-style: none;
}

nav li {
	text-decoration: none;
}

#wrapper {
	background-color: #EE9;
	width: 900px;
}

main {
	text-align: left;
}

footer {
	background-color: #820;
}